/* padding */

.px-sm {
    padding: 0em .3em;
}

.py-sm {
    padding: .2em 0em;
}

.pl-sm {
    padding-left: .3em;
}

.pr-sm {
    padding-right: .3em;
}

.pt-sm {

}

.pb-sm {
    
}

.px-md {

}

.py-md {

}

.pl-md {

}

.pr-md {

}

.pt-md {

}

.pb-md {

}
.px-lg {
}

.py-lg {

}

.pl-lg {

}

.pr-lg {

}

.pt-lg {

}

.pb-lg {

}



/* margin */

.mx-sm {
    margin: 0px .3em;
}

.my-sm {
}

.ml-sm {

}

.mr-sm {
    margin-left: 2em;
}

.mt-sm {

}

.mb-sm {
    
}

.mx-md {
}

.my-md {
}

.ml-md {

}

.mr-md {

}

.mt-md {

}

.mb-md {

}
.mx-lg {
}

.my-lg {
}

.ml-lg {

}

.mr-lg {

}

.mt-lg {

}

.mb-lg {

}
