*, ::before, ::after {
 --color-primary: #3499cc;
 --color-secondary: rgb(0, 171, 250);
 --color-secondary-hover: cyan;
 --color-text: white;
 --outline: 1px solid rgb(255, 255, 255);

 --radius: .3em
}
